--swiftversion 6.0
--minversion 0.54

# File options
--exclude .build

# Format options
--indent 4
--indentcase false
--trimwhitespace always
--voidtype void
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--maxwidth 150
--closingparen balanced
--commas inline
--decimalgrouping 3,4
--elseposition same-line
--guardelse next-line
--header ignore
--ifdef no-indent
--importgrouping alpha
--modifierorder
--operatorfunc spaced
--self remove
--selfrequired
--semicolons never
--stripunusedargs closure-only
--trailingclosures
--xcodeindentation disabled

# Disable rules that conflict with project style
--disable redundantSendable
--disable wrapPropertyBodies
--disable redundantViewBuilder
